:root {
    --circle-color: #ffe000;
    --extra-cirle-color: purple;
    --circle-color-field: #a69728;
}

html {
    position: relative;
    height: 100% !important;
}

body {
    margin-bottom: 60px;
    height: 100% !important;
    display: flex;
    flex-flow: column;
}

/* Main */
main {
    flex: 1;
    min-height: 100vh;
}

.navbar {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 86, 121, 1) 100%);
    height: 140px;
}

.navbar a.navbar-brand
{
    color: #fff;
    font-size: 2rem;
}

.number-circle {
    float: left;
    background: var(--circle-color);
    border: 3px solid transparent;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.list-of-numbers
{
    display: inline-block;
    float: left;
}


.number-circle input {
    color: #000;
    max-width: 24px;
    font-size: 12px;
    font-weight: bold;
    border: 0;
    background: transparent;
    text-align: center;
}

.number-circle.extra-number input {
    color: #fff;
}


.number-circle-sign {
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    float: left;
    margin-right: 15px;
    line-height: 50px;
}

.number-circle.extra-number {
    background: var(--extra-cirle-color);
}

.number-circle.found {
    border: 3px solid #48d148;
}

.result-circle {
    float: left;
    margin: 10;
    border-radius: 50%;
    border: 2px solid #000;
    background: #95ffa7;
    padding: 16px;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.result-extra-circle {
    background: #e0a2ff;
}

.results-extra-sign {
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    float: left;
    margin-right: 10px;
    line-height: 60px;
}


.balance {
    font-weight: bold;
    font-size: 2.5rem;
}

footer {
    border-top: 2px solid #181818 !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.hidden {
    display: none !important;
}

.button-spaces {
    margin-right: 10px;
}